
@{
    ViewBag.Title = "Ghi nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutDK.cshtml";
}

<h2 style="text-align: center">
    
         Cám ơn! Đơn hàng của bạn đã được chúng tôi ghi nhận, chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất!
    
</h2>
<p>@Html.ActionLink("Tiếp tục mua sắm", "Index", "Laptopstore")
</p>

